div.field-maplocation {
	margin-bottom: 1.75em;
}

div.field-maplocation div.tab-panel {
	overflow: auto;
	clear: both;
	display: none;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
}

div.field-maplocation ul.tabs {
	top: 0;
}

fieldset.primary div.field-maplocation ul.tabs {
	float: left;
}

fieldset.secondary div.field-maplocation ul.tabs {
	float: right;
}

div.field-maplocation ul.tabs li {
	color: #aaaa99;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

fieldset.primary div.field-maplocation ul.tabs li {
	margin-right: 3px;
}

fieldset.secondary div.field-maplocation ul.tabs li {
	margin-left: 3px;
}

div.field-maplocation ul.tabs li:hover {
	color: #888;
}

div.field-maplocation ul.tabs li.active {
	border-bottom: 1px solid #F5F5F3;
	background-color: #F5F5F3;
	color: #666;
}

div.field-maplocation div.gmap {
	width: 100%;
	height: 300px;
}

div.field-maplocation div.tab-edit fieldset {
	padding: 0;
	margin: 0 0 5px 0;
}

div.field-maplocation div.tab-edit label {
	margin: 0
}

div.field-maplocation div.tab-edit fieldset input.text {
	width: 100px;
	margin-right: 5px;
}

div.field-maplocation div.tab-edit fieldset.coordinates {
	padding-bottom: 10px;
	border-bottom: 1px solid #E4E4DE;
}

div.field-maplocation div.tab-edit fieldset.geocode input.text {
	width: 210px;
}

div.field-maplocation div.tab-edit fieldset.geocode label i {
	text-align: left;
	margin-left: 5px;
	position: static;
}